// Links List
.links-list {
  white-space: nowrap;
  padding-top: @base_padding + 4;
  padding-bottom: @base_padding - 2;

  > li {

    &.sep {
      display: inline-block;
      border-left: 1px solid #eeeef0;
      height: 12px;
      width: 0px;
      line-height: @line-height-base;
      overflow: hidden;
      margin-left: @base_padding;
    }
  }
}

// Scrollable
.scrollable {
  position: relative;
  overflow: hidden;
  height: 0;
}

.slimScrollDiv .slimScrollBar {
  cursor: pointer;
}

// Clear
.clear {
  clear: both;
}

.knob {
  visibility: hidden;
}

canvas + .knob {
  visibility: visible;
}

// Validation Has error
.validate-has-error {
  border-color: @brand-danger;

  &:focus {
    border-color: @brand-danger;
  }

  + span.validate-has-error,
  > span.validate-has-error,
  .input-group + & {
    color: @brand-danger;
    display: inline-block;
    margin-top: 5px;
  }

  .make-switch + & {
    margin-left: 10px;
  }

  .form-control {
    border-color: @brand-danger;
  }
}

// File Input wrapper
.file-input-wrapper {

  &.inline {
    display: inline-block;
    width: auto;
  }
}

.file2[type="file"] {
  visibility: hidden;
}

.file-input-wrapper .file2[type="file"] {
  visibility: visible;
}

// Scrollbar Styling
.custom-scrollbar() {
  // http://css-tricks.com/custom-scrollbars-in-webkit/
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    width: 5px;
    background-color: @hover_bg;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken(@default, 10%);
  }
  //&::-webkit-scrollbar-button {}
  //&::-webkit-scrollbar-track-piece {}
  //&::-webkit-scrollbar-corner {}
  //&::-webkit-resizer {}
}

// Distancer
.dist {

  > * {
    margin-bottom: 10px;
    .clearfix;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Print
@media print {

  .sidebar-menu {
    display: none !important;
  }

  .page-container.horizontal-menu {
    padding-top: 0;
  }
}

// Nicescroll
.nicescroll-rails {

  > div {
    cursor: pointer;
  }
}

// Font awesome presentation
.showcase-icon-list {

  .icon-el {

    a {
      position: relative;
      z-index: 1;
      background: #fafafa;
      margin-bottom: 6px;
      display: block;
      padding-right: 12px;
      .text-overflow();
      .rounded;

      i {
        margin-right: 5px;
        display: inline-block;
        padding: 6px 12px;
        vertical-align: middle;
        .border-radius(@border_radius 0 0 @border_radius);
        background: #f0f0f0;
        font-size: 15px;
        width: 45px;
        text-align: center;
      }

      &:hover {
        z-index: 5;
        overflow: visible;
        padding: 5px 12px;

        i {
          top: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 60px;
          line-height: 50px;
          margin-right: 0px;
          color: @main_color;
          font-size: 40px;
          .rounded;
        }
      }
    }
  }
}

// Footer
footer.main {

  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid @default;
  .clearfix;
}

.padding-top-none {
  padding-top: 0 !important;
}

.padding-bottom-none {
  padding-bottom: 0 !important;
}

.form-groups-bordered > .form-group {
  border-bottom: 1px solid @default;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 0px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

}

.morrischart {
  width: 100%;

  > svg {
    width: 100% !important;
  }
}

.col-padding-1 {
  padding: 20px 20px 20px 40px !important;
}

.no-margin {
  margin: 0 !important;
}

.padding-lg {
  padding: 20px !important;
}

// Rickshaw Demo
#rickshaw-chart-demo {
  .rounded;
  overflow: hidden;
  padding-top: 200px;

  svg {
    width: 100% !important;
  }

  .detail {
    left: -10px;
  }

  .rickshaw_legend {
    position: absolute;
    top: 0px;
    background: none;

    .label {
      color: fade(@main_color, 50%);
    }
  }
}

#rickshaw-chart-demo-2 {
  .rounded;
  overflow: hidden;
  padding-top: 75px;

  svg {
    width: 100% !important;
  }

  .detail {
    left: -10px;
  }

  .rickshaw_legend {
    position: absolute;
    top: 0px;
    background: none;

    .label {
      color: fade(@main_color, 50%);
    }
  }
}
